body{
    background-size:cover;
}

.black{
    color: darkred;
    font-size: 200%;
    /*font-family: Arial, Verdana, sans-serif;*/

}
.kvadrat {
    height:50%;
    width:100%;
    background-color: blanchedalmond;
    border:1px;
}
.minikvadrat {

    height: 80%;
    width: 30%;
    background-color: darkgray;
    border: 2px ;
    position: fixed;
    top: 9%;
    left: 30%;
}
.send {

    height: 34px;
    width: 5%;
    background-color: #e0e0e0;
    border: 1px solid black;
    position: fixed;
    top: 82%;
    left: 54%;
    border-radius: 10px;
}
.oglavlenie {

    height: 50px;
    width: 30%;
    background-color: #e298d8;
    border: 1px  ;
    position: fixed;
    top: 8%;
    left: 30%;
}
.messages{
    height: 330px;
    width: 380px;
    background-color: #c2cec9;
    border: 2px ;
    position: fixed;
    top: 15%;
    left: 30.7%;

}
.chat{
    height: 50px;
    width: 60px;
    background-color: #e298d8;
    border: 2px ;
    position: fixed;
    top: 8%;
    left: 30%;
}
.singIn{
    height: 50px;
    width: 6.5%;
    background-color: #bd7eb4;
    border: 2px ;
    position: fixed;
    top: 8%;
    left: 53.5%;
}
.authorChat{
    height: 50px;
    width: 200px;
    background-color: #d5dbee;
    color: #a99fcc;
    border: 2px ;
    position: fixed;
    top: 90%;
    left: 85%;
}
.history{
    height: 40px;
    width: 40px;
    background-color: #e298d8;
    border: 1px ;
    position: fixed;
    top: 6%;
    left: 47%;
}
.error{
    height: 20px;
    width: 20px;
    background-color: #e0e0e0;
    border: 1px solid black;
    position: fixed;
    top: 75%;
    left: 32%;

}
.photo{
    height: 40px;
    width: 40px;
    background-color: #d2d2d2;
    border: 2px ;
    position: fixed;
    top: 17%;
    left: 35%;
    border-radius: 40px;
}
.yourmessage{
    height: 40px;
    width: 17%;
    background-color: #d2d2d2;
    border: 2px ;
    position: fixed;
    top: 17%;
    left: 40%;
    border-radius: 10px;
}
.photo1{
    height: 40px;
    width: 40px;
    background-color: #d2d2d2;
    border: 2px ;
    position: fixed;
    top: 25%;
    left: 55%;
    border-radius: 40px;
}
.yourmessage1{
    height: 40px;
    width: 17%;
    background-color: #d2d2d2;
    border: 2px ;
    position: fixed;
    top: 25%;
    left: 38%;
    border-radius: 10px;
}
.edit{
    height: 20px;
    width:12%;
    position: fixed;
    top: 27%;
    left: 35%;

}
.delete{
    height: 20px;
    width:12%;
    position: fixed;
    top: 27%;
    left: 32%;

}
.author1 {
    height: 23px;
    width: 12%;
    position: fixed;
    top: 82%;
    left: 31%;
}
.userName{
    height: 24px;
    width: 5%;
    background-color: darkgray;
    position: fixed;
    top: 82%;
    left:36%;
}
textarea
{
    box-sizing: border-box;
    border: 1px solid black;
    height: 32px;
    width: 12%;
    padding: 5px;
    background-color: #e0e0e0;
    color: black;
    position: fixed;
    top: 82%;
    left:42%;
    border-radius: 10px;
}

.changenick
{
    height: 32px;;
    width: 5%;
    text-align: center;

    border: 1px solid black;
    border-radius: 10px;

    cursor: pointer;
    position: fixed;
    top: 82%;
    left:30.5%;
}
li
{
    list-style: none;
}
.delete {
    width: 22px;
    height: 22px;
    background: url("img/delet.jpg");
    background-size: 80%;
    border-radius: 5px ;
    border: 0;
    cursor: pointer;
    outline: none;
    float: left;
    margin: 1px;
}

.history
{
    position: fixed;
    top: 15%;
    left:31.5%;
    box-sizing: border-box;
    border: 1px solid gray;
    background-color: lightgray;
    opacity: 0.7;
    width: 26.5%;
    height: 400px;
    min-height: 250px;
    overflow-y: scroll;
    border-radius: 5px;
}
.redactInput
{
    position: relative;
    border-radius: 10px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 15px;
    overflow: auto;
    background-color: #0b9bff;
    color: black;
}
.redact
{
    width: 22px;
    height: 22px;
    background: url("img/edit.png") ;
    background-size: 100%;
    border-radius: 5px ;
    border: 0;
    cursor: pointer;
    outline: none;
    float: left;
    margin: 1px;
}
.user1
{
    margin-top: 3px;
    text-align: left;
    padding-left: 10px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 15px;
    color: black;
}

.user0
{
    margin-top: 3px;
    text-align: right;
    padding-right: 10px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 15px;
    color: black;
}

.myMessage
{
    position: relative;
    text-align: right;
    padding: 10px;
    border: 3px dotted black;
    border-radius: 10px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 15px;
    margin: 10px 10px 10px 50%;
    max-width: 30%;
    overflow: auto;
    background-color: lightgray;
    color: black;
}

.cancelOfRedact
{
    width: 22px;
    height: 22px;
    background: url("http://www.lepkomplekt.ru/static/images/fck/image/galochka.png") no-repeat center white ;
    background-size: 100%;
    border-radius: 5px ;
    border: 0;
    cursor: pointer;
    outline: none;
    float: right;
    margin: 1px;
}

.userMessage
{

    position: relative;
    text-align: left;
    padding: 10px;
    border: 3px dotted black;
    border-radius: 10px;
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 15px;
    margin: 10px 50% 10px 10px;
    max-width: 50%;
    overflow: auto;
    background-color: #3addff;
    color: black;
}
